@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
}

#wrapper{
	width:100%;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	
}
header {
	background:black;
	height:185px;
}

header .title{
	float: left;
	font-size: 25px;
	padding-left: 10px;
	width: 30%;
	height: 100px;
}
header .name{
	float: left;
	font-size: 50px;
	padding-left: 3%;
}
header .loginmenu{
	float: right;
	padding-top: 10px;
    padding-right: 10px;
	
}

#lf .loginmenu input[type="submit"]{
	border: none;
	background-color: #fff;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}


#lf .loginmenu a{
	font-size: 12px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	padding-left: 5px;
	cursor: pointer;
} 

.mainmenu{
	position: relative;
	z-index: 600;
	top:16px;
	background: rgba(0,0,0,0.8);
	width: 100%;
	clear: both;
	padding: 0px 0;
	margin: 0px;
}
.mainmenu ul{
	width: 100%;
	height: 60px;
	padding: 0px;
	border: 0px;
}
.mainmenu li{
	list-style-type: none;
	float: left;
	width: 24.5%;
	text-align: center;
	text-size: auto;
	padding: 0px;
	border: 0px;
}
.mainmenu li a{
	color: white;
	text-decoration: none;
	line-height: 60px;
	display: block;
	margin: 0px;
	text-align: center;
	
}
.mainmenu ul li:hover{
	cursor: pointer;
	background-color: black; 
}

.mainmenu li ul{
	background: rgba(0,0,0,0.8);
	display: none;
	height: auto;
	padding: 0px;
	border: 0px;
	margin: 0px;
	position: absolute;
	width: 24.5%;
	z-index: 200;
}
.mainmenu li:hover ul{
	display: block;
}
.mainmenu li li{
	background: rgba(0,0,0,0.8);
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.mainmenu li li:hover{
	background:white;
}
.mainmenu li li:hover a{
	color: black;
	font-weight: bold;
}
.cycle-slideshow{
	position: relative;
	width: 100%;
	z-index: 200;
}
.cycle-slideshow img{
	width: 100%;
}

#container{
	position:relative;
	width: 100%;
	height: 100%;
}
.left, .right, .main{
    height:100%;
}
.left {
	float:left;
	width:25%;
	text-align: center;
}
.main{
	float:left;
	width:50%;
    text-align: center;
	
}
.right{
	float:left;
    width :25%;
    text-align: center;
}


footer .fixed{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	padding: 0;
	text-align: center;
}
